extends layout

block content
  
  .container
    h1 PoDA BlockChain

    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='')
    br
    p.pull-right by 
      a(href='http://andersbrownworth.com/') 
      | TEAM : PoDA
